@import '../../vendor/filament/filament/resources/css/app.css';

@import './kanban';
@import './dialogs';
@import './loading.io';

.filament-header-heading {
    display: block;
}

.ticket-comment {

    .actions {
        @apply opacity-0 transition;
    }

    &:hover {
        .actions {
            @apply opacity-100;
        }
    }

}

.filament-forms-repeater-component {
    & > .relative.flex.justify-center {
        @apply justify-start;
    }
}

.social-icon {
    @apply w-6 h-6 rounded-full p-1 bg-gray-100 text-white;

    &.google {
        background-color: #ea4335;
    }

    &.facebook {
        background-color: #3b5998;
    }

    &.github {
        background-color: #000000;
    }

    &.twitter {
        background-color: #55acee;
    }
}

label:has(.sprint-checkboxes) > span {
    width: 100%;
}
